<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MOVIES CHECK UP</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        height: 100vh;
        margin: 0;
        padding: 0;
      }

      .container-post {
        display: flex;
        width: 100%;
        height: 100%;
      }

      .container-img {
        width: fit-content;
      }

      .img-movie {
        flex-basis: 100%;
        object-fit: contain;
        height: 100%;
        width: fit-content;
      }
      .container-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: fit-content;
        background-image: linear-gradient(
            to right,
            rgba(50, 47, 47, 0.9),
            rgba(87, 82, 82, 0.9)
          ),
          url(/images/background-post.jpg);
        background-size: cover;
        flex-basis: 100%;
      }

      p {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bolder;
        color: rgb(20, 25, 25);
      }

      span {
        color: rgb(147, 135, 135);
      }

      .img-rates {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .imdb,
      .meta {
        flex-basis: 40%;
        padding: 0;
        text-align: center;
        margin: 0 60px 0 0;
        height: 25vh;
      }

      .text-info {
        margin-left: 80px;
        padding: 0;
        text-align: start;
      }

      .rates-info {
        display: flex;
        flex-basis: 40%;
        text-align: start;
        margin: 0;
      }

      h1 {
        text-align: justify;
        font-size: 50px;
        color: rgb(0, 0, 0);
      }

      .info-p-i {
        margin: 0;
        color: rgb(147, 135, 135);
      }

      .info-p-m {
        margin: 0 0 15px 0;
        color: rgb(147, 135, 135);
      }
    </style>
  </head>
  <body></body>
</html>
