<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIES CHECK UP</title>
    <style>
        body {
            background-image: linear-gradient(to right,rgb(0, 0, 0, .9), rgb(0, 0, 0, .9)), url(/images/background.png);
        }
        .x{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
            text-align: center;
        }
        p {
            color: white;
            font-size: 120px;
            margin-bottom: 0;
        
        }
        .two {
            font-size: 80px;
            margin-bottom: 250px;
        }
    </style>
</head>
<body>
    <div class="x">
        <p>Error</p>
        <p class="two">Please enter a relative movie title without typos</p>
    </div>
    
</body>
</html>