<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIES CHECK UP</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
    <style>
        body {
            background-image: linear-gradient(to right,rgb(0, 0, 0, .9), rgb(0, 0, 0, .9)), url(/images/background.png);
        }
        .error-container{
            display: flex;
            flex-direction: column;
            justify-content: baseline;
            align-items: center;
            height: 100vh;
            text-align: center;
            font-family: 'Limelight', cursive;
        }
        p {
            color: white;
            font-size: 120px;
           margin-top: 0;
        
        }
        .two {
            font-size: 80px;
           
        }

       button {
      
        width: 120px;
        height: 55px;
        background-color: transparent;
        border: 3px solid rgb(255, 255, 255);
        font-size: large;
        color: rgb(255, 255, 255);
        border-radius: 15px;
        
        
        
       }
    </style>
</head>
<body>
    <div class="error-container">
        <p>Error</p>
        <p class="two">Please type relative movie title without typos</p>
        <form action="/back" method="post">
            <button type="submit" name="buttonC">Try Again</button>
        </form>
    </div>

    
    
</body>
</html>
